<html>
	<head>
		<title>Title</title>
		<meta charset="utf-8">
		</meta>
		<script src="js/axios.min.js"></script>
		<script src="js/vue.js"></script>
	</head>
	<body>
		<div id="app">
			<div>学生宿舍报修系</div>
			<table border="1">
				<tr>
					<td width="120px">报修编号</td>
					<td width="50px">报修人</td>
					<td width="50px">宿舍</td>
					<td width="50px">内容</td>
					<td width="50px">状态</td>
					<td width="50px">操作</td>
				</tr>
				<tr v-for="maintainRecord in maintainRecordList">
					<td>{{maintainRecord.mid}}</td>
					<td>{{maintainRecord.mname}}</td>
					<td>{{maintainRecord.room}}</td>
					<td>{{maintainRecord.context}==true?"1":"1"}</td>
					<td>{{maintainRecord.status}}</td>
					<td>
						<button @click="mydel(maintainRecord.mid)">删除</button>
					</td>
				</tr>
				<tr v-if="maintainRecordList.length==0">
					<td colspan="6">加载中...</td>
				</tr>
			</table>
		</div>
	</body>
</html>
<script>
	new Vue({
		el: '#app',
		data: {
			maintainRecordList: []
		},
		//在Vue启动时执行
		mounted() {
			axios.get('show').then((response) => {
				this.maintainRecordList = response.data;
			})
		},
		methods: {
			//删除事件
			async mydel(id) {
				console.log('点了删除按钮' + id);
				let response = await axios.get(
					'delfilm', {
						params: {
							mid: id
						}
					}
				)
				console.log(response.data);
				console.log(response.data.code);

				if (response.data.code == 1) {
					let responseNewData = await axios.get('show')
					this.filmList = responseNewData.data;
				} else {
					alert('删除失败');
				}
			}
		}

	})
</script>
